In [1]:
import pandas as pd
import json

with open('insa_researchers_teachers.json', 'r', encoding='utf-8') as f:
    insa_professor = json.load(f)

df = pd.DataFrame(insa_professor)
df

,first_name,last_name,phone,department,role
0,Raouhi,Sanaa,[],[LVA],"[alum, researcher]"
1,Amin,Laafar,[],"[FIMI, DEEP]","[alum, teacher]"
2,Amine,Laaribi,[],[LAMCOS],"[student, researcher]"
3,Abderrahim,Maazouz,"[04 72 43 63 32, 04 72 43 82 25, 04 72 43 78 10]","[GM, IMP]",[teacher]
4,Hacina,Djaafri,[],[AMPERE],[teacher]
...,...,...,...,...,...
1194,Nour el Houda,Mezni,[],[DISP],"[student, researcher]"
1195,Sophie,Cazottes,[04 72 43 82 45],"[SGM, MATEIS]",[teacher]
1196,Aurelien,ChazottesLeconte,[],"[FIMI, LAMCOS]",[teacher]
1197,Melanie,Mezquita,[],[DIR],[teacher]
1198,Pau,Becerra Zuniga,[],[LAMCOS],"[student, researcher]"

In [101]:
import json

with open('insa_professors.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

def replace_empty_with_null(obj):
    if isinstance(obj, dict):
        return {k: replace_empty_with_null(v) for k, v in obj.items()}
    elif isinstance(obj, list):
        return [replace_empty_with_null(item) for item in obj]
    elif obj == "":
        return None
    else:
        return obj

data_null = replace_empty_with_null(data)

with open('insa_professors.json', 'w', encoding='utf-8') as f:
    json.dump(data_null, f, ensure_ascii=False, indent=2)

In [84]:
from collections import Counter

department_list = [dept for departments in df['department_en'] for dept in departments]
department_counts = Counter(department_list)
print(department_counts)
print(sorted(set(department_list)))

Counter({'': 190, 'Foundation Course for Engineering': 160, 'Computer Science & Image Laboratory': 106, 'Applied Mechanics & Computational Structures': 89, 'Materials, Architecture & Soil Science': 79, 'Mechanical Engineering': 76, 'PhD Students (Doctoral Program)': 67, 'Ampère Laboratory (Electrical Engineering & Power Electronics)': 65, 'Interdisciplinary Center for Intelligent Transportation': 63, 'Nanotechnology Institute of Lyon': 58, 'Research Center for Acquisition & Processing of Imaging for Health': 58, 'Humanities Department': 55, 'Center for Energy Transition & Habitat': 50, 'Mechanics, Processing & Energy': 47, 'INSA Valorization Unit': 35, 'Geo-Modelling & Hydraulics': 33, 'Computer Science': 33, 'Department of Product Design': 32, 'Telecommunications': 28, 'Electrical Engineering': 27, 'Industrial Engineering': 25, 'Applied Living Languages & Cultures': 24, 'Energy, Electronics, Processes & Production': 23, 'Central Engineering Unit': 23, 'Energy & New Energies': 22, 'Mathematics & Physics': 21, 'Biosciences': 20, 'Fluid Mechanics & Acoustics Laboratory': 17, 'Department of Industrial Relations': 15, 'Institute of Criminal Sciences': 13, 'Hydraulic & Environmental Engineering Laboratory': 13, 'Geomechanics & Structures': 12, 'Center for Data Sciences': 11, 'Algorithms, Numerical and Imaging Laboratory': 10, 'Bio-Functionalization & Functional Imaging Interfaces': 10, 'Cardiovascular Research Center': 9, 'French National Institute for Research in Digital Science & Technology': 5, 'Materials, Components & Printed Structures': 5, 'Department of Architecture, Construction & Fluid Mechanics': 4})
['', 'Algorithms, Numerical and Imaging Laboratory', 'Ampère Laboratory (Electrical Engineering & Power Electronics)', 'Applied Living Languages & Cultures', 'Applied Mechanics & Computational Structures', 'Bio-Functionalization & Functional Imaging Interfaces', 'Biosciences', 'Cardiovascular Research Center', 'Center for Data Sciences', 'Center for Energy Transition & Habitat', 'Central Engineering Unit', 'Computer Science', 'Computer Science & Image Laboratory', 'Department of Architecture, Construction & Fluid Mechanics', 'Department of Industrial Relations', 'Department of Product Design', 'Electrical Engineering', 'Energy & New Energies', 'Energy, Electronics, Processes & Production', 'Fluid Mechanics & Acoustics Laboratory', 'Foundation Course for Engineering', 'French National Institute for Research in Digital Science & Technology', 'Geo-Modelling & Hydraulics', 'Geomechanics & Structures', 'Humanities Department', 'Hydraulic & Environmental Engineering Laboratory', 'INSA Valorization Unit', 'Industrial Engineering', 'Institute of Criminal Sciences', 'Interdisciplinary Center for Intelligent Transportation', 'Materials, Architecture & Soil Science', 'Materials, Components & Printed Structures', 'Mathematics & Physics', 'Mechanical Engineering', 'Mechanics, Processing & Energy', 'Nanotechnology Institute of Lyon', 'PhD Students (Doctoral Program)', 'Research Center for Acquisition & Processing of Imaging for Health', 'Telecommunications']

In [76]:
df['department'] = df['department'].apply(lambda deps: [d for d in deps if d != 'ICBMS'])

In [61]:
df['department'] = df['department'].apply(lambda deps: ['IF' if d == 'IFA' else d for d in deps])

In [87]:
no_department_df = df[df['department'].apply(lambda d: d == [''])]
print(no_department_df)

          first_name   last_name             phone department  \
5                Jan     Aalmoes                []         []
7            Mostafa  Benzaazoua  [04 72 43 83 45]         []
9         Souleymane       Drabo                []         []
38            Chaima     Bouafif                []         []
39              Fadi     Karkafi                []         []
...              ...         ...               ...        ...
1097           Sweta      Suresh                []         []
1132    Carlo Andrea   Venturini                []         []
1151  Pierre Nicolas      Mougel                []         []
1176           Marie      Winger                []         []
1187        Floriane    Peyrouse                []         []

                             role department_en
5      [student, researcher, off]            []
7                       [teacher]            []
9           [student, researcher]            []
38     [student, researcher, off]            []
39          [student, researcher]            []
...                           ...           ...
1097        [student, researcher]            []
1132   [student, researcher, off]            []
1151  [alum, teacher, researcher]            []
1176   [student, researcher, off]            []
1187   [student, researcher, off]            []

[190 rows x 6 columns]

In [88]:
df = df.drop(no_department_df.index)

In [81]:
dept_map = {
    "":          "",
    "ALNI":      "Algorithms, Numerical and Imaging Laboratory",
    "AMPERE":    "Ampère Laboratory (Electrical Engineering & Power Electronics)",
    "BF2I":      "Bio-Functionalization & Functional Imaging Interfaces",
    "BS":        "Biosciences",
    "CARMEN":    "Cardiovascular Research Center",
    "CDS":       "Center for Data Sciences",
    "CETHIL":    "Center for Energy Transition & Habitat",
    "CITI":      "Interdisciplinary Center for Intelligent Transportation",
    "CREATIS":   "Research Center for Acquisition & Processing of Imaging for Health",
    "DAFC":      "Department of Architecture, Construction & Fluid Mechanics",
    "DEEP":      "Energy, Electronics, Processes & Production",
    "DIR":       "Department of Industrial Relations",
    "DISP":      "Department of Product Design",
    "DOCTORANTS":"PhD Students (Doctoral Program)",
    "FIMI":      "Foundation Course for Engineering",
    "GCU":       "Central Engineering Unit",
    "GE":        "Electrical Engineering",
    "GEN":       "Energy & New Energies",
    "GEOMAS":    "Geomechanics & Structures",
    "GI":        "Industrial Engineering",
    "GM":        "Mechanical Engineering",
    "GMCIP":     "Materials, Components & Printed Structures",
    "HUMA":      "Humanities Department",
    "ICJ":       "Institute of Criminal Sciences",
    "IF":        "Computer Science",
    "IMP":       "Mechanics, Processing & Energy",
    "INL":       "Nanotechnology Institute of Lyon",
    "INRIA":     "French National Institute for Research in Digital Science & Technology",
    "INSAVAL.":  "INSA Valorization Unit",
    "LAMCOS":    "Applied Mechanics & Computational Structures",
    "LGEF":      "Hydraulic & Environmental Engineering Laboratory",
    "LIRIS":     "Computer Science & Image Laboratory",
    "LMFA":      "Fluid Mechanics & Acoustics Laboratory",
    "LVA":       "Applied Living Languages & Cultures",
    "MAP":       "Mathematics & Physics",
    "MATEIS":    "Materials, Architecture & Soil Science",
    "SGM":       "Geo-Modelling & Hydraulics",
    "TC":        "Telecommunications"
}

# 3. Translate each row’s 'department' list into English using the mapping above.
#    If a code isn’t found in dept_map, it will remain unchanged.
def translate_depts(codes: list[str]) -> list[str]:
    return [dept_map.get(code, code) for code in codes]

df["department_en"] = df["department"].apply(translate_depts)

In [99]:
df = df.rename(columns={'uni': 'university'})

In [100]:
df.to_json('insa_professors.json', orient='records', force_ascii=False, indent=2)

In [94]:
import re

def to_french_phone(phone_list):
    result = []
    for phone in phone_list:
        # Remove all spaces and dashes for normalization
        normalized = re.sub(r'[\s\-]', '', phone)
        # Only process numbers starting with '0' and 10 digits
        if normalized.startswith('0') and len(normalized) == 10:
            result.append('+33' + normalized[1:])
        else:
            result.append(phone)
    return result

df['phone'] = df['phone'].apply(to_french_phone)

In [97]:
df['uni'] = 'INSA Lyon'

In [47]:
import pandas as pd

df = pd.read_csv('data/insa_all_cleaned.csv')

In [90]:
print(df.shape)      # number of rows, columns
print(df.head())     # first few rows
print(df.info())     # data types and non-null counts

(999, 5)
   first_name last_name                                             phone  \
0      Raouhi     Sanaa                                                []
1        Amin    Laafar                                                []
2       Amine   Laaribi                                                []
3  Abderrahim   Maazouz  [04 72 43 63 32, 04 72 43 82 25, 04 72 43 78 10]
4      Hacina   Djaafri                                                []

                    role                                         department
0     [alum, researcher]              [Applied Living Languages & Cultures]
1        [alum, teacher]  [Foundation Course for Engineering, Energy, El...
2  [student, researcher]     [Applied Mechanics & Computational Structures]
3              [teacher]  [Mechanical Engineering, Mechanics, Processing...
4              [teacher]  [Ampère Laboratory (Electrical Engineering & P...
<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 1198
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  999 non-null    object
 1   last_name   999 non-null    object
 2   phone       999 non-null    object
 3   role        999 non-null    object
 4   department  999 non-null    object
dtypes: object(5)
memory usage: 46.8+ KB
None

In [4]:
df = df.drop_duplicates()

In [ ]:
df = df.dropna(subset=['role'])

In [53]:
df.to_csv('data/insa_all_cleaned.csv', index=False)

In [ ]:
students_df = df[df['role'].apply(lambda roles: 'student' in roles)]
print(students_df.shape)
print(students_df.head())
students_df.info()
students_df.to_csv('data/insa_students.csv', index=False)

(4794, 5)
  First Name Last Name Phone Department       Role
0  Alexandre      Saad          [GMPPA]  [student]
1      Clara      Saad           [FIMI]  [student]
2      Elise      Haag             [GM]  [student]
3      Linda      Taam             [MT]  [student]
4      Peter      Saad             [IF]  [student]
<class 'pandas.core.frame.DataFrame'>
Index: 4794 entries, 0 to 6506
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  4794 non-null   object
 1   Last Name   4794 non-null   object
 2   Phone       4794 non-null   object
 3   Department  4794 non-null   object
 4   Role        4794 non-null   object
dtypes: object(5)
memory usage: 224.7+ KB

In [ ]:
unique_roles = set(role for roles in df['role'] for role in roles)
print(unique_roles)

{'researcher', 'emeritus', 'staff', 'teacher', 'alum', 'student', 'off'}

In [ ]:
researchers_teachers_df = df[df['role'].apply(lambda roles: 'researcher' in roles or 'teacher' in roles)]
print(researchers_teachers_df.shape)
print(researchers_teachers_df.head())
researchers_teachers_df.info()
researchers_teachers_df.to_csv('data/insa_researchers_teachers.csv', index=False)

(1199, 5)
    First Name Last Name                                             Phone  \
12      Raouhi     Sanaa                                                []
16        Amin    Laafar                                                []
27       Amine   Laaribi                                                []
28  Abderrahim   Maazouz  [04 72 43 63 32, 04 72 43 82 25, 04 72 43 78 10]
30      Hacina   Djaafri                                                []

      Department                   Role
12         [LVA]     [alum, researcher]
16  [FIMI, DEEP]        [alum, teacher]
27      [LAMCOS]  [student, researcher]
28     [GM, IMP]              [teacher]
30      [AMPERE]              [teacher]
<class 'pandas.core.frame.DataFrame'>
Index: 1199 entries, 12 to 6502
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  1199 non-null   object
 1   Last Name   1199 non-null   object
 2   Phone       1199 non-null   object
 3   Department  1199 non-null   object
 4   Role        1199 non-null   object
dtypes: object(5)
memory usage: 56.2+ KB

In [49]:
df['phone'] = df['phone'].fillna('')
#    Or drop rows with missing Department or Role if those are required:
# df = df.dropna(subset=['Department', 'Role'])

df['role'] = df['role'].fillna('').apply(lambda s: [r.strip() for r in s.split(';') if r.strip()])
df['department'] = df['department'].fillna('').apply(lambda s: [d.strip() for d in s.split(';') if d.strip()])
df['phone'] = df['phone'].fillna('').apply(lambda s: [p.strip() for p in s.split(';') if p.strip()])
# 7. Verify the result.
print(df.shape)
print(df.head())

(6194, 5)
  first_name last_name phone department       role
0  Alexandre      Saad    []    [GMPPA]  [student]
1      Clara      Saad    []     [FIMI]  [student]
2      Elise      Haag    []       [GM]  [student]
3      Linda      Taam    []       [MT]  [student]
4      Peter      Saad    []       [IF]  [student]

In [54]:
import csv
import json
import ast

INPUT_CSV = 'data/insa_all_cleaned.csv'    # replace with your CSV filename
OUTPUT_JSON = 'data/insa_all_cleaned.json' # desired output filename

# Columns that contain Python-list strings
LIST_COLS = ['phone', 'department', 'role']

data = []
with open(INPUT_CSV, newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        # For each list-style column, literal_eval the cell (or use [] if empty)
        for col in LIST_COLS:
            raw = row.get(col, '').strip()
            if raw:
                try:
                    row[col] = ast.literal_eval(raw)
                except (ValueError, SyntaxError):
                    # Fallback to empty list if parsing fails
                    row[col] = []
            else:
                row[col] = []
        data.append(row)

# Write out as pretty-printed JSON
with open(OUTPUT_JSON, 'w', encoding='utf-8') as jsonfile:
    json.dump(data, jsonfile, ensure_ascii=False, indent=2)

print(f"Wrote {len(data)} records to {OUTPUT_JSON}")

Wrote 6194 records to data/insa_all_cleaned.json

In [52]:
df = df.replace('-', '', regex=False)